.form-control{
    border-color: #167bff;
    box-shadow: none;
}
.form-group{
    width: 20%;
    text-align: center;
    margin: auto;  
}
.btn{
    margin: 10px 0px;
}
.signup{
    text-align: center;
}
